body{
  background-position: center center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; background-size: cover; 
  background-image: url(images/bmwI3BG.jpg);
  z-index:100;
}

  #mainTitle{
    font-family: 'Syncopate', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 500;
    margin: 5px 0 0 400px;
    position: fixed;
  } 
  #subTitle{
    font-family: 'Monoton', cursive;
    font-size: 35px;
    color: lightgreen;
    margin: 7px 0 0 400px;
    position: fixed;

    /* position: sticky; */
  }
  #gameBoard{
    margin: 50px 0 0 400px;
    background-color:rgba(0,0,0,.7);
    border-radius: 8px;
    width: 980px;
    height:350px;
    position: fixed;
  }
  #controlPanel{
    margin: 50px 0 50px 400px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    width: 950px;
    height:93px;
    color: white;
    font-family: 'Syncopate', sans-serif;
    padding:15px;
    position: sticky;
  }
  #stats{
    font-family: 'Syncopate', sans-serif;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    color: white;
    width:135px;
    height:47px;
    padding-top: 14px;
    font-size: 18px;
    text-align: center;
    position: fixed;
  }
  #win{
    color:lightgreen;
    font-weight: 500;
    
  }
  #l{
    color:red;
    font-weight: 500;
 }
 #cpSection1{
  border-right: 2px solid lightgreen;
  width: 150px;
  height: 75px;
  text-align: center;
  line-height: 19px; 
 }  
 #cpSection2{
  border-left: 2px solid white;
   margin: -75px 0 0 155px;
   height: 51px;
   padding:12px;
   text-align: center;
 }
 #guessesRemTitle{
  color:lightgreen;
}
#guessesRemText{
  font-size: 44px;
  margin-top: 8px;
  line-height: 40px; 
}
#wrongGuessesTitle{
  line-height: 22px;
}
 #guessedWrong{
  color:red;
  margin-top: 8px;
  font-size: 30px;

 }
 #gbTitle{
  font-size: 39px;
  color: lightgreen;
  padding-left:100px;
  padding-top:100px;
  padding-right:100px;
  font-family: 'Syncopate', sans-serif;
  text-align: center;
 }
 #gbSubTitle{
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  color:white;
  margin-top: 35px;
  font-size: 20px;
 }
 #gbText{
  font-size: 50px;
  color: lightgreen;
  padding:35px;
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  /* margin-top: -90px; */
  line-height: 47px; 

 }
 #lpTitle{
  font-size: 25px;
  margin-top: 25px;
  color: white;
  padding:60px;
  font-family: 'Syncopate', sans-serif;
  text-align: center;
 }
 #lpText{
  font-family: 'Syncopate', sans-serif;
  font-size: 15px;
  color:red;
  
 }

 /* Smaller Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-device-width : 280px) {
/* Styles */
  body{
    background-image: url(images/phoneBG.jpg);
  }
  #subTitle{
    font-family: 'Monoton', cursive;
    font-size: 35px;
    color: lightgreen;
    margin: 110px 0 0 400px;
    position: fixed;
    /* position: sticky; */
  }
  #gameBoard{
    margin: 200px 0 0 400px;
    background-color:rgba(0,0,0,.7);
    border-radius: 8px;
    width: 980px;
    height:350pxtes;
    position: fixed;
  }
  #controlPanel{
    margin: 600px 0 50px 400px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    width: 950px;
    height:93px;
    color: white;
    font-family: 'Syncopate', sans-serif;
    padding:15px;
    position: sticky;
  }
  #stats{
    font-family: 'Syncopate', sans-serif;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    color: white;
    width:135px;
    height:47px;
    padding-top: 14px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    margin: 14px 0 0 1250px;
  }
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
  body{
    background-image: url(images/phoneBG.jpg);

  }
  /* html{ */
    /* transform: rotate(-90deg); */
    /* transform-origin: left top;
    width: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
  } */

  html, body {margin: 0; height: 100%; overflow: hidden;z-index:10;}

  #mainTitle{
    font-family: 'Syncopate', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 500;
    margin: -15px 0 0 24px;
    position: fixed;
  } 
  #subTitle{
    font-family: 'Monoton', cursive;
    font-size: 16px;
    color: skyblue;
    margin: 35px 0 0 24px;
    position: fixed;
    font-weight:400;
    /* position: sticky; */
  }
  #gameBoard{
    margin: 65px 0 0 0;
    background-color:rgba(0,0,0,.7);
    border-radius: 0;
    width: 415px;
    height:150px;
    position: fixed;
  }
  #gbTitle{
    font-size: 20px;
    color: white;
    padding-left:100px;
    padding-top:200px;
    padding-right:100px;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    margin:-155px 0 0 0;
   }
   #gbSubTitle{
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    color:white;
    font-size: 20px;
    display:none;
    /* margin-top:70px; */
   }
   #gbSubTitle2{
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    color:white;
    font-size: 20px;
    display:show;
    /* margin-top:70px; */
   }

   #gbText{
    font-size: 25px;
    color: skyblue;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    margin-top: -30px;
    line-height: 33px; 
    padding-top: 50;
    padding-left: 50;
    padding-right: 50;
    position: fixed;
  
   }
   #gameMsg{
    font-size: 12px;
    color: white;
    padding:50px;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    line-height: 15px; 
    margin-top: -79px;
    font-weight: 500;
    position: absolute;
   }
   /* #gameMsg2{
    font-size: 16px;
    color: white;
    padding:45px;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    line-height: 10px; 
  
   } */
  #controlPanel{
    margin: 225px 0 0 0;
    background-color: rgba(0,0,0,.7);
    border-radius: 0;
    width: 415px;
    height:90px;
    color: white;
    font-family: 'Syncopate', sans-serif;
    padding:15px;
    position: fixed;
  }
  #cpSection1{
    border-right: 4px solid skyblue;
    width: 150px;
    height: 95px;
    text-align: center;
    line-height: 30px; 
   }  
   #cpSection2{
    border-left: 4px solid white;
     margin: -95px 0 0 142px;
     height: 78px;
     padding:12px;
     text-align: center;
   }
   #guessesRemTitle{
    color:skyblue;
    font-size: 16px;
    line-height: 25px; 
  }
  #guessesRemSubTitle{
    color:skyblue;
    font-size: 16px;
    line-height: 15px; 
  }
  #guessesRemText{
    font-size: 30px;
    margin-top: 8px;
    line-height: 40px; 
  }
  #wrongGuessesTitle{
    line-height: 22px;
    font-size:16px;
  }
   #guessedWrong{
    color:red;
    margin-top: 8px;
    font-size: 22px;
  
   }
  #stats{
    font-family: 'Syncopate', sans-serif;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    color: white;
    width:120px;
    height:40px;
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
    /* position: relative; */
    margin: 0 0 0 270px;
  }
  #my-textarea{
    margin: 0 0 0 0;
    opacity: 0;
  }
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
   font-size: 16px !important;
}
#initGame{
  margin: 245px 0 0 160px;
  font-family: 'Syncopate', sans-serif;
  background-color: black;
  color: skyblue;
  font-weight: 500;
  padding:10px;
  position: absolute;
}

}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
  body{
    background-image: url(images/bmwI3BG.jpg);
  }
  #subTitle{
    font-family: 'Monoton', cursive;
    font-size: 35px;
    color: lightgreen;
    margin: 110px 0 0 400px;
    position: fixed;
    /* position: sticky; */
  }
  #gameBoard{
    margin: 200px 0 0 400px;
    background-color:rgba(0,0,0,.7);
    border-radius: 8px;
    width: 980px;
    height:350pxtes;
    position: fixed;
  }
  #controlPanel{
    margin: 600px 0 50px 400px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    width: 950px;
    height:93px;
    color: white;
    font-family: 'Syncopate', sans-serif;
    padding:15px;
    position: sticky;
  }
  #stats{
    font-family: 'Syncopate', sans-serif;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    color: white;
    width:135px;
    height:47px;
    padding-top: 14px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    margin: 14px 0 0 1250px;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
  body{
    background-image: url(images/bmwI3BG.jpg);
  }
  #subTitle{
    font-family: 'Monoton', cursive;
    font-size: 35px;
    color: lightgreen;
    margin: 110px 0 0 400px;
    position: fixed;
    /* position: sticky; */
  }
  #gameBoard{
    margin: 200px 0 0 400px;
    background-color:rgba(0,0,0,.7);
    border-radius: 8px;
    width: 980px;
    height:350pxtes;
    position: fixed;
  }
  #controlPanel{
    margin: 600px 0 50px 400px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    width: 950px;
    height:93px;
    color: white;
    font-family: 'Syncopate', sans-serif;
    padding:15px;
    position: sticky;
  }
  #stats{
    font-family: 'Syncopate', sans-serif;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    color: white;
    width:135px;
    height:47px;
    padding-top: 14px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    margin: 14px 0 0 1250px;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
  body{
    background-image: url(images/bmwI3BG.jpg);
  }
  #subTitle{
    font-family: 'Monoton', cursive;
    font-size: 35px;
    color: lightgreen;
    margin: 110px 0 0 400px;
    position: fixed;
    /* position: sticky; */
  }
  #gameBoard{
    margin: 200px 0 0 400px;
    background-color:rgba(0,0,0,.7);
    border-radius: 8px;
    width: 980px;
    height:350pxtes;
    position: fixed;
  }
  #controlPanel{
    margin: 600px 0 50px 400px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    width: 950px;
    height:93px;
    color: white;
    font-family: 'Syncopate', sans-serif;
    padding:15px;
    position: sticky;
  }
  #stats{
    font-family: 'Syncopate', sans-serif;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    color: white;
    width:135px;
    height:47px;
    padding-top: 14px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    margin: 14px 0 0 1250px;
  }
}