body{
  background-position: center center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; background-size: cover; 
  background-image: url(images/bmwI3BG.jpg);
}

  #mainTitle{
    font-family: 'Syncopate', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 500;
    margin: 5px 0 0 400px;
    position: fixed;
  } 
  #subTitle{
    font-family: 'Monoton', cursive;
    font-size: 35px;
    color: lightgreen;
    margin: 7px 0 0 400px;
    position: fixed;

    /* position: sticky; */
  }
  #gameBoard{
    margin: 50px 0 0 400px;
    background-color:rgba(0,0,0,.7);
    border-radius: 8px;
    width: 980px;
    height:350px;
    position: fixed;
  }
  #controlPanel{
    margin: 50px 0 50px 400px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    width: 950px;
    height:93px;
    color: white;
    font-family: 'Syncopate', sans-serif;
    padding:15px;
    position: sticky;
  }
  #stats{
    font-family: 'Syncopate', sans-serif;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    color: white;
    width:135px;
    height:47px;
    padding-top: 14px;
    font-size: 18px;
    text-align: center;
    position: fixed;
  }
  #win{
    color:lightgreen;
    font-weight: 500;
    
  }
  #l{
    color:red;
    font-weight: 500;
 }
 #cpSection1{
  border-right: 2px solid lightgreen;
  width: 150px;
  height: 75px;
  text-align: center;
  line-height: 19px; 
 }  
 #cpSection2{
  border-left: 2px solid white;
   margin: -75px 0 0 155px;
   height: 51px;
   padding:12px;
   text-align: center;
 }
 #guessesRemTitle{
  color:lightgreen;
}
#guessesRemText{
  font-size: 44px;
  margin-top: 8px;
  line-height: 40px; 
}
#wrongGuessesTitle{
  line-height: 22px;
}
 #guessedWrong{
  color:red;
  margin-top: 8px;
  font-size: 30px;

 }
 #gbTitle{
  font-size: 39px;
  color: lightgreen;
  padding-left:100px;
  padding-top:100px;
  padding-right:100px;
  font-family: 'Syncopate', sans-serif;
  text-align: center;
 }
 #gbSubTitle{
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  color:white;
  margin-top: 35px;
  font-size: 20px;
 }
 #gbText{
  font-size: 50px;
  color: lightgreen;
  padding:35px;
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  /* margin-top: -90px; */
  line-height: 47px; 

 }
 #lpTitle{
  font-size: 25px;
  margin-top: 25px;
  color: white;
  padding:60px;
  font-family: 'Syncopate', sans-serif;
  text-align: center;
 }
 #lpText{
  font-family: 'Syncopate', sans-serif;
  font-size: 15px;
  color:red;
  
 }

 /* Smaller Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-device-width : 280px) {
/* Styles */
  body{
    background-image: url(images/phoneBG.jpg);
  }
  #subTitle{
    font-family: 'Monoton', cursive;
    font-size: 35px;
    color: lightgreen;
    margin: 110px 0 0 400px;
    position: fixed;
    /* position: sticky; */
  }
  #gameBoard{
    margin: 200px 0 0 400px;
    background-color:rgba(0,0,0,.7);
    border-radius: 8px;
    width: 980px;
    height:350pxtes;
    position: fixed;
  }
  #controlPanel{
    margin: 600px 0 50px 400px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    width: 950px;
    height:93px;
    color: white;
    font-family: 'Syncopate', sans-serif;
    padding:15px;
    position: sticky;
  }
  #stats{
    font-family: 'Syncopate', sans-serif;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    color: white;
    width:135px;
    height:47px;
    padding-top: 14px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    margin: 14px 0 0 1250px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
  body{
    background-image: url(images/phoneBG.jpg);
  }
  #mainTitle{
    font-family: 'Syncopate', sans-serif;
    font-size: 55px;
    color: white;
    font-weight: 500;
    margin: 5px 0 0 44px;
    /* position: fixed; */
  } 
  #subTitle{
    font-family: 'Monoton', cursive;
    font-size: 45px;
    color: skyblue;
    margin: 180px 0 0 44px;
    position: fixed;
    font-weight:400;
    /* position: sticky; */
  }
  #gameBoard{
    margin: 330px 0 0 0;
    background-color:rgba(0,0,0,.7);
    border-radius: 8px;
    width: 1000px;
    height:750px;
    position: fixed;
  }
  #gbTitle{
    font-size: 70px;
    color: skyblue;
    padding-left:100px;
    padding-top:200px;
    padding-right:100px;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
   }
   #gbSubTitle{
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    color:white;
    font-size: 20px;
    display:none;
    /* margin-top:70px; */
   }
   #gbSubTitle2{
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    color:white;
    font-size: 20px;
    display:show;
    /* margin-top:70px; */
   }

   #gbText{
    font-size: 130px;
    color: skyblue;
    padding:45px;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    margin-top: -120px;
    line-height: 115px; 
  
   }
   #gameMsg{
    font-size: 32px;
    color: white;
    padding:45px;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    line-height: 40px; 
    display:none;
  
   }
   #gameMsg2{
    font-size: 32px;
    color: white;
    padding:45px;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    line-height: 40px; 
  
   }
  #controlPanel{
    margin: 1000px 0 2000px 0;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    width: 950px;
    height:150px;
    color: white;
    font-family: 'Syncopate', sans-serif;
    padding:15px;
    position: sticky;
  }
  #cpSection1{
    border-right: 4px solid skyblue;
    width: 300px;
    height: 150px;
    text-align: center;
    line-height: 19px; 
   }  
   #cpSection2{
    border-left: 4px solid white;
     margin: -150px 0 0 315px;
     height: 125px;
     padding:12px;
     text-align: center;
   }
   #guessesRemTitle{
    color:skyblue;
    font-size: 35px;
    line-height: 40px; 
  }
  #guessesRemText{
    font-size: 60px;
    margin-top: 8px;
    line-height: 40px; 
  }
  #wrongGuessesTitle{
    line-height: 22px;
    font-size:33px;
  }
   #guessedWrong{
    color:red;
    margin-top: 8px;
    font-size: 50px;
  
   }
  #stats{
    font-family: 'Syncopate', sans-serif;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    color: white;
    width:250px;
    height:115px;
    padding-top: 30px;
    font-size: 35px;
    text-align: center;
    /* position: relative; */
    margin: 35px 0 0 700px;
  }
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
   font-size: 16px !important;
}

}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
  body{
    background-image: url(images/bmwI3BG.jpg);
  }
  #subTitle{
    font-family: 'Monoton', cursive;
    font-size: 35px;
    color: lightgreen;
    margin: 110px 0 0 400px;
    position: fixed;
    /* position: sticky; */
  }
  #gameBoard{
    margin: 200px 0 0 400px;
    background-color:rgba(0,0,0,.7);
    border-radius: 8px;
    width: 980px;
    height:350pxtes;
    position: fixed;
  }
  #controlPanel{
    margin: 600px 0 50px 400px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    width: 950px;
    height:93px;
    color: white;
    font-family: 'Syncopate', sans-serif;
    padding:15px;
    position: sticky;
  }
  #stats{
    font-family: 'Syncopate', sans-serif;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    color: white;
    width:135px;
    height:47px;
    padding-top: 14px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    margin: 14px 0 0 1250px;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
  body{
    background-image: url(images/bmwI3BG.jpg);
  }
  #subTitle{
    font-family: 'Monoton', cursive;
    font-size: 35px;
    color: lightgreen;
    margin: 110px 0 0 400px;
    position: fixed;
    /* position: sticky; */
  }
  #gameBoard{
    margin: 200px 0 0 400px;
    background-color:rgba(0,0,0,.7);
    border-radius: 8px;
    width: 980px;
    height:350pxtes;
    position: fixed;
  }
  #controlPanel{
    margin: 600px 0 50px 400px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    width: 950px;
    height:93px;
    color: white;
    font-family: 'Syncopate', sans-serif;
    padding:15px;
    position: sticky;
  }
  #stats{
    font-family: 'Syncopate', sans-serif;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    color: white;
    width:135px;
    height:47px;
    padding-top: 14px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    margin: 14px 0 0 1250px;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
  body{
    background-image: url(images/bmwI3BG.jpg);
  }
  #subTitle{
    font-family: 'Monoton', cursive;
    font-size: 35px;
    color: lightgreen;
    margin: 110px 0 0 400px;
    position: fixed;
    /* position: sticky; */
  }
  #gameBoard{
    margin: 200px 0 0 400px;
    background-color:rgba(0,0,0,.7);
    border-radius: 8px;
    width: 980px;
    height:350pxtes;
    position: fixed;
  }
  #controlPanel{
    margin: 600px 0 50px 400px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    width: 950px;
    height:93px;
    color: white;
    font-family: 'Syncopate', sans-serif;
    padding:15px;
    position: sticky;
  }
  #stats{
    font-family: 'Syncopate', sans-serif;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    color: white;
    width:135px;
    height:47px;
    padding-top: 14px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    margin: 14px 0 0 1250px;
  }
}